<head>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<div class="container">
  <form [formGroup]="preguntaForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="enunciado">Enunciado</label>
      <input type="text" id="enunciado" formControlName="enunciado" name="enunciado">
    </div>

    <h3>Opciones</h3> <!-- Título para separar las opciones -->

    <div formArrayName="opciones">
      <div *ngFor="let opcion of opciones.controls; let i = index" class="form-group">
        <div [formGroupName]="i" class="option-group">
          <input type="text" formControlName="texto" name="opcion{{i}}">
          <input type="checkbox" formControlName="correcta" name="correcta{{i}}">
          <button type="button" class="btn btn-danger" (click)="removeOpcion(i)">Eliminar</button> <!-- Botón de eliminar -->
        </div>
      </div>
    </div>

    <button type="button" class="btn btn-secondary" (click)="addOpcion()">Añadir opción</button>
  </form>
</div>
<router-outlet></router-outlet>
