/* presentar-examen.component.css */

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
/* presentar-examen.component.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

button {
  background-color: #007bff; /* Color azul de Bootstrap */
  border-color: #007bff; /* Color azul de Bootstrap */
  color: white; /* Texto blanco */
  margin: 5px; /* Espacio alrededor de los botones */
}
body {
  background-color: #f5f7fa;
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  background-color: #346cb0; /* Tonalidad de azul ajustada */
  padding: 1rem 2rem;
  color: white;
}
