<!-- crear-examen.component.html -->

<head>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<!-- crear-examen.component.html -->
<div class="header">
  <h1 class="app-name">EduQuiz</h1>
  <h2 class="section-name">Crear Examen</h2>
</div>

<div class="container">
  <form [formGroup]="examForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="examName">Nombre del examen</label>
      <input type="text" class="form-control" id="examName" formControlName="examName" required>
    </div>

    <div class="form-group">
      <label for="examDescription">Descripción del examen</label>
      <textarea class="form-control" id="examDescription" formControlName="examDescription" required></textarea>
    </div>

    <div class="form-group">
      <label for="examCategory">Categoría del examen</label>
      <select class="form-control" id="examCategory" formControlName="examCategory" required>
        <option value="parcial">Parcial</option>
        <option value="quiz">Quiz</option>
        <!-- Agrega más opciones según sea necesario -->
      </select>
    </div>

    <div class="form-group">
      <label for="questionCount">Cantidad de preguntas aleatorias</label>
      <input type="number" class="form-control" id="questionCount" formControlName="questionCount">
    </div>

    <div class="form-group">
      <label for="examDuration">Duración del examen (en minutos)</label>
      <input type="number" class="form-control" id="examDuration" formControlName="examDuration">
    </div>

    <!-- Sección desplazable con las preguntas -->
    <!-- crear-examen.component.html -->
    <!-- crear-examen.component.html -->
    <div class="form-group" formArrayName="preguntas">
      <label>Preguntas</label>
      <div *ngFor="let pregunta of preguntas.controls; let i = index" [formGroupName]="i">
        <p>{{ pregunta.get('enunciado')?.value }}</p>
        <label for="porcentaje{{i}}">Porcentaje</label>
        <input type="number" id="porcentaje{{i}}" formControlName="porcentaje">
      </div>
    </div>
    <button type="button" class="btn btn-secondary" (click)="addPregunta()">Crear otra pregunta</button>
    <!-- Botón para seleccionar un banco de preguntas -->
    <!-- <button type="button" class="btn btn-secondary" (click)="onSelectQuestionBank()">Seleccionar banco de
      preguntas</button> -->

    <button type="submit" class="btn btn-primary" [disabled]="!examForm.valid">Crear</button>
  </form>
</div>
<router-outlet></router-outlet>