/* Aplica la fuente 'system ui' a todo el documento */
body {
  font-family: system-ui;
  background-color: #f0f0f0; /* Color de fondo para todo el documento */
}

/* Estilos para el contenedor del formulario de inicio de sesión */
.container {
  font-family: system-ui;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
}

/* Estilos para el formulario de inicio de sesión */
form {
  font-family: system-ui;
  background-color: white; /* Color de fondo del formulario */
  padding: 20px;
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra para que el formulario sobresalga */
}

/* Estilos para los grupos de formularios */
.form-group {
  margin-bottom: 15px;
}

/* Estilos para las etiquetas */
label {
  font-family: system-ui;
  display: block;
  margin-bottom: 5px;
  color: #333; /* Color de las etiquetas */
}

/* Estilos para los campos de entrada */
input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc; /* Borde de los campos de entrada */
}

/* Estilos para el botón de envío */
button {
  font-family: system-ui;
  padding: 10px 20px;
  background-color: #007bff; /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  border: none;
  cursor: pointer;
}

/* Estilos para el botón de envío cuando está deshabilitado */
button:disabled {
  background-color: #ccc;
}
