<head>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<div class="header">
  <h1 class="app-name">EduQuiz</h1>
  <h2 class="section-name">Crear Banco de Preguntas</h2>
  <a href="#" class="logout-link" (click)="cerrarSesion($event)">Cerrar sesión</a>
</div>

<div class="container">
  <h3>Preguntas</h3>
  <div *ngFor="let pregunta of preguntasCreadas" class="pregunta-container">
    <h4>{{pregunta.titulo}}</h4>
    <p>{{pregunta.descripcion}}</p>
    <button class="btn btn-primary" (click)="editarPregunta(pregunta)">Editar Pregunta</button>
  </div>
  <button class="btn btn-transparent" (click)="crearPregunta()">+ Crear pregunta</button>
</div>
<router-outlet></router-outlet>
